
 <!-- <button (click)="add()">Ajouter</button>
  <div>
    <h1 *ngIf="numbers.length <=0"> Liste vide</h1>
    <ul>
      <li *ngFor="let n of numbers" [ngIf=""]>{{n}}</li>
    </ul>
  </div>
-->



 <!--<ul>
   <li *ngFor="let n of students">{{n.cp}}</li>
   <li *ngFor="let n of students">{{n.fname}}</li>
   <li *ngFor="let n of students">{{n.lname}}</li>
 </ul>
 <button (click)="select()"/>
-->
<!--<app-details #details></app-details>-->
<!-- <ul>-->
<!--   <li *ngFor="let s of students" (click)="details=s">{{s}}</li>-->

<!-- </ul>-->


<!--<app-form></app-form>-->

 <app-inscription></app-inscription>


